<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">New Book</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href (click)="navigationRedirect($event, 'dashboard')">Home</a></li>
                    <li class="breadcrumb-item"><a href (click)="navigationRedirect($event, 'owned-books')">Owned Books</a></li>
                    <li class="breadcrumb-item active">New Book</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form.form" (ngSubmit)="onSubmit(form.form)">
          <div class="form-group">
            <label>Image:</label>
            <div *ngIf="this.image_url">
              <img src="{{ image_url }}" class="image-preview mb-2">
                <button (click)="removeImg()"> remove img</button>
            </div>
            <input class="form-control" formControlName="thumbnail" type="file" (change)="onSelectFile($event)">
          </div>
          <div class="form-group">
            <label>Title:</label>
            <input class="form-control" formControlName="title" type="text">
            <span *ngIf="this.form.form.controls.title.hasError('required')" class="text-danger"><p><small>This field is required..</small></p></span>
          </div>

          <div class="form-group">
            <label>Author:</label>
            <tag-input
              [(ngModel)]='author_list' 
              [ngModelOptions]="{standalone: true}"
              [addOnBlur]="true"
              placeholder='Add Author'>
            </tag-input>
          </div>

          <div class="form-group">
            <label>Plot:</label>
            <textarea class="form-control" formControlName="plot"></textarea>
          </div>

          <div class="form-group">
            <label>Type:</label>
            <select class="form-select" formControlName="type" (change)="onChangeType()">
              <option value="hardcover">Hardcover</option>
              <option value="paperback">Paperback</option>
              <option value="digital copy">Digital Copy</option>
            </select>
            <span *ngIf="this.form.form.controls.type.hasError('required')" class="text-danger"><p><small>This field is required..</small></p></span>
          </div>

          <div class="form-group">
            <label>Location:</label>
            <select class="form-select" formControlName="location">
              <option [disabled]="this.form.form.controls['location'].value === 'in the matrix'" value="exactus office">Exactus Office</option>
              <option [disabled]="this.form.form.controls['location'].value === 'in the matrix'" value="owner's home">Owners Home</option>
              <option disabled value="in the matrix">In The Matrix</option>
            </select>
            <span *ngIf="this.form.form.controls.location.hasError('required')" class="text-danger"><p><small>This field is required..</small></p></span>
          </div>

          <div class="text-right">
            <button type="submit" class="btn btn-secondary w-md">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>