<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content" [ngClass]="{'toast-success': !this.has_error, 
  'toast-danger': this.has_error}">
    <div class="modal-header">
      <h3 *ngIf="!this.has_error" class="modal-title" style="line-height: 0.9">
        <i class="la la-check-circle"></i> Success
      </h3>

      <h3 *ngIf="this.has_error" class="modal-title" style="line-height: 0.9">
        <i class="la la-times-circle"></i> Danger
      </h3>
      <button type="button" class="close" (click)="close()" >&times;</button>
    </div>
    <div class="modal-body">
      <p *ngIf="this.has_error">Caught an error while processing your request, please try again.</p>
      <p *ngIf="!this.has_error">Succesfully added a new book you can check it on owned books.</p>
    </div>
  </div>
</div>

