<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title" style="line-height: 0.9">
        <i class="la la-question-circle"></i> Action Confirmation
      </h3>
    </div>
    <div class="modal-body">
      <p>Are you sure?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"  (click)="cancel()">Decline</button>
      <button type="button" class="btn btn-danger" (click)="confirm()">Accept</button>
      
    </div>
  </div>
</div>