<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title" style="line-height: 0.9">
        Action Confirmation
      </h6>
    </div>
    <div class="modal-body">
      <p>Are you sure?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"  (click)="cancel()">Decline</button>
      <button type="button" class="btn btn-success" (click)="confirm()">Accept</button>
    </div>
  </div>
</div>