<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header mt-2">
      <h6 class="modal-title" style="line-height: 1.2">
        <b>{{ book.title }}</b> <br>
        <small class="text-muted font-size-11">by
          <span *ngFor="let author of book.authors; let last = last;">
            {{ author.name }}<span *ngIf="!last">,</span>
          </span>
        </small>
      </h6>
      <button type="button" class="close" (click)="close()" >&times;</button>
    </div>
    <div class="modal-body">
      <p>{{ book.plot }}</p>
      <table>
        <tr>
          <td class="pb-2 pt-0"><b>Type:</b> {{ book.type | titlecase }}</td>
          <td class="pb-2 pt-0 pl-2"><b>Location:</b> {{ book.location | titlecase }} </td>
        </tr>
        <tr>
        <td class="pb-2 pt-0">
          <b>Status:</b>
          <span class="badge font-size-11"
            [ngClass]="{'badge-soft-info': book.status==='checked out',
            'badge-soft-success': book.status==='available',
            'badge-soft-danger': (book.status==='damaged'|| book.status==='lost')}">
            {{ book.status | titlecase  }}
          </span>
        </td>
        <td class="pb-2 pt-0 pl-2"><b>Book Owned by:</b> {{ book.owner.full_name | titlecase }}</td>
        </tr>
      </table>
      <hr>
      <p>Comments <span *ngIf='comments_list'>({{ comments_list.length }}):</span></p>

      <div class="comment-section" style="max-height: 200px; overflow: auto;">
        <div class="d-flex align-items-center pt-2 pb-3 border-bottom" *ngFor="let comment of comments_list?.reverse()" >
          <img class="img-sm rounded-circle header-profile-user" src="{{ comment.user.avatar }}" alt="profile">
          <div class="ml-3" style="line-height: 0.5;">
            <h6 class="mb-0">
              <table>
                <tr>
                  <td class="pb-0 pt-0 font-size-12">{{ comment.user.full_name | titlecase }} </td>
                  <td class="pb-0 pt-0"><small class="text-muted pl-2" style="font-size: 10px; margin-top: 2px;">{{ comment.date_created | date:'medium' }}</small></td>
                  <td class="pb-0 pt-0"><p></p></td>
                  <td class="pb-0 pt-0">
                    <button class="close float-right" type="button" (click)="deleteClick(comment.id)" [hidden]="comment.user.id!==this.authService.user_id">&times;</button>
                  </td>
                </tr>
              </table>
            </h6>
            <small class="text-muted mb-0">{{ comment.message }}</small> <br>
          </div>
        </div>
      </div>
    </div>

    <form class="form-group" [formGroup]="form.form" (ngSubmit)="onSubmit(form.form)" [hidden]="book.status === 'lost' || book.status === 'damaged' ">
      <input type="hidden" formControlName="book_id">
      <input type="hidden" formControlName="user">
      <div class="input-group">
        <textarea class="form-control"  formControlName="message" placeholder="Write a comment..." rows="4"></textarea>
        <div class="input-group-append">
          <button class="btn btn-secondary btn-sm" type="submit" [disabled]="this.disable"><i class="bx bx-send"></i></button>
        </div>
      </div>
    </form>

    <div class="modal-footer" [hidden]="book.owner.id===this.authService.user_id || book.status==='lost' || book.status==='damaged'">
      <button type="button" class="btn btn-success waves-effect waves-light btn-block btn-block" (click)="borrowBook()" [hidden]="book.status==='checked out'">Check Out</button>
      <button type="button" class="btn btn-warning waves-effect waves-light btn-block btn-block" (click)="returnBook()" [hidden]='!this.isCheckedOut'>Return Book</button>
    </div>
  </div>
</div>