<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header mt-2">
      <h6 class="modal-title" style="line-height: 1.2">
        <b>{{ book.title }}</b> <br>
        <small class="text-muted font-size-11">by
          <span *ngFor="let author of book.authors; let last = last;">
            {{ author.name | titlecase  }}<span *ngIf="!last">,</span>
          </span>
        </small>
      </h6>
      <button type="button" class="close" (click)="close()" >&times;</button>
    </div>
    <div class="modal-body">
      <p>{{ book.plot }}</p>
      <table>
        <tr>
          <td class="pb-2 pt-0"><b>Type:</b> {{ book.type | titlecase }}</td>
          <td class="pb-2 pt-0 pl-2"><b>Location:</b> {{ book.location | titlecase }} </td>
        </tr>
        <tr>
        <td class="pb-2 pt-0">
          <b>Status:</b>
          <span class="badge font-size-11"
            [ngClass]="{'badge-soft-info': book.status==='checked out',
            'badge-soft-success': book.status==='available',
            'badge-soft-danger': (book.status==='damaged'|| book.status==='lost')}">
            {{ book.status | titlecase  }}
          </span>
        </td>
        <td class="pb-2 pt-0 pl-2"><b>Book Owned by:</b> {{ book.owner.full_name | titlecase }}</td>
        </tr>
      </table>
      <hr>
      <p>Comments <span *ngIf='comments_list'>({{ comments_list.length }}):</span></p>

      <ul class="list-group list-group-flush" style="max-height: 125px; overflow: auto;">
        <li class="list-group-item pl-2 pr-2" *ngFor="let comment of comments_list?.reverse()">
            <div class="media">
              <div class="avatar-xs me-3">
                <img src="{{ comment.user.avatar }}" alt="" class="img-fluid d-block rounded-circle" style="height: 100%;">
              </div>
              <div class="media-body">
                <h5 class="font-size-14 mb-1">{{ comment.user.full_name | titlecase }} <small class="text-muted float-end">{{ comment.date_created | date:'medium' }}</small></h5>
                <p class="text-muted"> {{ comment.message }}
                  <small class="text-muted float-end"
                        [hidden]="comment.user.id!==this.authService.user_id"
                        (click)="deleteClick(comment.id)">
                        <i class="bx bx-x font-size-15"></i>
                  </small>
                </p>
              </div>
            </div>
        </li>
      </ul>
    </div>

    <form class="form-group" [formGroup]="form.form" (ngSubmit)="onSubmit(form.form)" [hidden]="book.status === 'lost' || book.status === 'damaged' ">
      <input type="hidden" formControlName="book_id">
      <input type="hidden" formControlName="user">
      <div class="input-group">
        <textarea class="form-control"  formControlName="message" placeholder="Write a comment..." rows="4"></textarea>
        <div class="input-group-append">
          <button class="btn btn-secondary btn-sm" type="submit" [disabled]="this.disable"><i class="bx bx-send"></i></button>
        </div>
      </div>
    </form>

    <div class="modal-footer" [hidden]="book.owner.id===this.authService.user_id || book.status==='lost' || book.status==='damaged'">
      <button type="button" class="btn btn-success waves-effect waves-light btn-block btn-block" (click)="borrowBook()" [hidden]="book.status==='checked out'">Check Out</button>
      <button type="button" class="btn btn-warning waves-effect waves-light btn-block btn-block" (click)="returnBook()" [hidden]='!this.isCheckedOut'>Return Book</button>
    </div>
  </div>
</div>