<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Borrowed Books</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/dashboard/">Home</a></li>
                    <li class="breadcrumb-item active">Borrowed Books</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col-sm-12">
        <div class="me-2 mb-2">
            <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                    <input type="text"
                           class="form-control"
                           placeholder="Search title..."
                           (keyup)="searchTitle($event)">
                    <i class="bx bx-search-alt search-icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="">
            <div class="table-responsive">
                <table class="table project-list-table table-nowrap align-middle table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Book</th>
                            <th scope="col">Category</th>
                            <th scope="col">Location</th>
                            <th scope="col">Status</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Checkout Date</th>
                            <th scope="col">Return Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of books_list">
                            <th scope="row">
                                <p class="font-weight-bold mb-0">{{ item.book.title | titlecase }} </p>
                                <small class="text-muted">by:
                                    <span *ngFor="let author of item.book.authors; let last = last;">
                                        {{ author.name }}<span *ngIf="!last">,</span>
                                    </span>
                                </small>
                            </th>
                            <td><p class="">{{ item.book.type | titlecase }}</p></td>
                            <td><p class="">{{ item.book.location | titlecase }}</p></td>
                            <td>
                                <p class="badge badge-pill badge-info font-size-11"  *ngIf="item.returned_date !== null"style="color: white;">
                                    Returned
                                </p>
                                <p class="badge badge-pill badge-danger font-size-11"  *ngIf="item.returned_date === null"style="color: white;">
                                    Checked Out
                                </p>
                            </td>
                            <td><p class="">{{ item.book.owner.full_name | titlecase }}</p></td>
                            <td><p class="">{{ item.checked_out_date | date:"medium" }}</p></td>
                            <td>
                                <p class="text-center">
                                    <span [hidden]="item.returned_date"> --- </span>
                                    {{ item.returned_date | date:"medium" }}
                                </p></td>
                            <td>
                                <button type="button"
                                        class="btn btn-light btn-sm mr-2"
                                        (click)="rowClicked(item.book)">View</button>

                                <button type="button"
                                        class="btn btn-secondary btn-sm"
                                        [hidden]="item.returned_date !== null"
                                        (click)="returnBook($event, item)">Return Book</button>

                                <p class="" [hidden]="item.returned_date === null">{{ item.returned_date | date:"medium" }}
                            </td>
                        </tr>
                        <tr *ngIf="books_list?.length == 0">
                            <td colspan="9">No Books Found!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>