<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h6>Update Book</h6>
      <button type="button" class="close" (click)="close()" >&times;</button>
    </div>
    <div class="modal-body">
      <div>
        <form [formGroup]="form.form" (ngSubmit)="onSubmit(form.form)">
            <div class="form-group">
              <label>Title:</label>
              <input class="form-control" formControlName="title" type="text">
              <span *ngIf="this.form.form.controls.title.hasError('required')" class="text-danger"><p><small>This field is required..</small></p></span>
            </div>

            <div class="form-group">
              <label>Author:</label>
              <tag-input
                [(ngModel)]='author_list'
                [ngModelOptions]="{standalone: true}"
                [addOnBlur]="true"
                placeholder='Add Author'
                [placeholder]="'Add Author'" 
                [secondaryPlaceholder]="'Enter an Author'">
              </tag-input>
            </div>

            <div class="form-group">
              <label>Plot:</label>
              <textarea class="form-control" formControlName="plot"></textarea>
            </div>

            <div class="form-group">
              <label>Type:</label>
              <select class="form-select" formControlName="type" (change)="onChangeType()">
                <option value="hardcover">Hardcover</option>
                <option value="paperback">Paperback</option>
                <option value="digital copy">Digital Copy</option>
              </select>
              <span *ngIf="this.form.form.controls.type.hasError('required')" class="text-danger"><p><small>This field is required..</small></p></span>
            </div>

            <div class="form-group">
              <label>Location:</label>
              <select class="form-select" formControlName="location">
                <option [disabled]="this.form.form.controls['location'].value === 'in the matrix'" value="exactus office">Exactus Office</option>
                <option [disabled]="this.form.form.controls['location'].value === 'in the matrix'" value="owner's home">Owners Home</option>
                <option disabled value="in the matrix">In The Matrix</option>
              </select>
              <span *ngIf="this.form.form.controls.location.hasError('required')" class="text-danger"><p><small>This field is required..</small></p></span>
            </div>
            <br>
            <button class="btn btn-primary btn-block" type="submit" [disabled]="this.disable">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>