<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Book of the Day</h4>
        </div>
    </div>
</div>

<div class="row" *ngIf="book_of_d_day">
    <div class="col-xl-12 col-sm-12 cursor-pointer">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mt-0">{{ book_of_d_day.title | titlecase }}</h4>
                <h6 class="card-subtitle font-14 text-muted">by
                    <span *ngFor="let author of book_of_d_day.authors; let last = last;">
                        {{ author.name | titlecase }}<span *ngIf="!last">,</span>
                    </span>
                </h6>
            </div>
            <img class="image-thumb-lg" height="250" src="{{ book_of_d_day.thumbnail }}" alt="Card image cap" style="object-fit: cover;">
            <div class="card-body">
                <p class="card-text">{{ book_of_d_day.plot }}</p>
                <a class="card-link" (click)="rowClicked(book_of_d_day)">View Book</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-4 col-sm-6 cursor-pointer" *ngFor="let book of books_list" (click)="rowClicked(book)">
        <div class="card h-90">
            <div class="card-body">
                <div class="media">
                    <div class="avatar-md me-4">
                        <span class="avatar-title bg-light text-danger font-size-16">
                            <img src="{{ book.thumbnail }}" class="thumbnail">
                        </span>
                    </div>

                    <div class="media-body overflow-hidden">
                        <h5 class="font-size-15">{{ book.title | titlecase }}</h5>
                        <p>by
                            <span *ngFor="let author of book.authors; let last = last;">
                                {{ author.name }}<span *ngIf="!last">,</span>
                            </span>
                        </p>
                        <p class="text-muted mb-4">{{ book.plot| slice:0:100 }} ...</p>
                    </div>
                </div>
            </div>
            <div class="px-4 py-3 border-top">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-3">
                        <span class="badge font-size-11" 
                            [ngClass]="{'badge-soft-info': book.status==='checked out',
                            'badge-soft-success': book.status==='available',
                            'badge-soft-danger': (book.status==='damaged'|| book.status==='lost')}">
                            {{ book.status | titlecase  }}
                        </span>
                    </li>
                    <li class="list-inline-item me-3">
                        <i class="bx bx-calendar me-1"></i> {{ book.date_created | date:"fullDate" }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

